*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;

    
}
.header{
    width: 100%;
    height: 50px;
  z-index: 1000;
    overflow:auto;
    position: fixed;
    top: 0;
 background-color: rgba(67, 66, 66, 0.8);
}



.logo{
    width: 140px;
    height: 50px;
}
.list {
    float: right;
}
.list li{
    display: inline-block;
 color: white;
 font-size: 17px;
 margin-right:50px ;
 margin-top: 12px;
}
 
.list li a{
 text-decoration: none;
 color: white;
 position: relative;

}

.list li a::after{
position: absolute;
content: "";
left: 0;
bottom: -2px;
width: 0;
height: 2px;
background-color: bisque;
transition: 0.2s;

}
.list li a:hover::after{
    width: 100%;
    
    }



.start{
    width: 100%;
    height: 100vh;
    background-image: url(../images/wall\ 4.jpg);
} 
.overlay-start{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
    
}
.start-info{
    width: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.title-start{
color: white;
font-size: 29px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-start{
    color:rgb(243, 201, 123);
font-size: 19px;
margin-top: 10px;
}
.btn1-start{
    width: 140px;
    height: 50px;
 color: black ;
 border: 1px solid white;
 border-radius: 5px;
 background-color: wheat;
 font-size: 19px;
 margin-right: 20px;
 margin-top: 20px;

}

.btn2-start{
    width: 140px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 19px;
}  
.welcome{
    width: 80%;
   height: 60vh;
   padding: 120px 0;
   text-align: center;
   margin-left: 10%;
}

.welcome-item{
    float: left;
    width: 350px;
    border: 1px #888 solid;
    margin-top: 70px;
    text-align: center;
    height: 190px;
position: relative;
    transition: 0.5s;
    z-index: 2;

}
.c1{
    margin: 0 5%;
    margin-top: 70px;
    text-align: center;
}
.welcome-hr{
    width: 50px;
  margin: auto;
  height: 2px;
  background-color: rgb(232, 205, 169);
  margin-right: 580px;
}
.welcome-a{
    text-decoration: none;
    color: #6195ff;
}
.welcome-title{

        font-size: 35px;
}
.welcome-item-p {
color:#888 ;
padding: 20px 0;
}
.awelcome{
    color: #6195ff ;
    margin: 10px 0;
    font-size: 25px;
}
.btn1-start:hover{
opacity: 0.6;
}
.btn2-start:hover{
    opacity: 0.9;
    }

    .welcome-item-title{
        transition: 0.7s;
    }
    
 .welcome-item:hover      .welcome-item-title{
    color:white ;
 }



.welcome-item::after {
    content:"";
    position: absolute;
width: 0;
height: 0;
top: 0;
left: 0;
background-color: #333;
transition: 0.5s;

}
.welcome-item:hover::after{
width: 100%;
height: 100%;
z-index: -1;
}

.work{
    margin-top: 150px;
    width: 100%;
    height: 150vh;
    text-align: center;
    background-color: rgb(248, 241, 234);
    
}


.worktitle{
    padding-top: 70px;
    font-size: 35px;

}
.hrwork{
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: rgb(232, 205, 169);
 
margin-bottom: 50px;
}
.work1{
    width: 80%;
    height: 80%;
    margin: auto;
    /* border: solid 1px black; */
}

.work2{
width: 100%;
margin: auto;
/* border: solid 1px black; */
height: 50%;
overflow: auto;
}
.work3{
    width: 100%;
    margin: auto;
    /* border: solid 1px black; */
    height: 50%;
    }
    .workitem{
width: 30%;
/* border: solid 1px black; */
height: 80%;
float: left;
margin: 3.5% 0;
position: relative;
    }
    .x{
        margin: 3.5% 5%;
    }
    .workimg{
position: absolute;
margin: 5% 5%;

    }
    .workoverlay{
        width: 100%;
        height: 100%;
position: absolute;
z-index: 2;
background-color: rgba(0, 0,0, 0.6);
visibility: hidden;
transition: 0.5s;
opacity: 0;
    }

    .workimg img{
        width: 307px;
        height: 307px;
    }

    .workinfo span{
        font-size: 20px;
        display: inline-block;

        color: rgb(243, 201, 123);
        padding-top: 110px;
        visibility: hidden;
        opacity: 0;
       transition: 0.6s;
    }
    .workinfo p{
        font-size: 25px;
     font-weight: 900;
     color: white;
     visibility: hidden;
     opacity: 0;
    transition: 0.6s;

    
    }
    .workinfo a{
        display: inline-block;
background-color: #6195ff;
width: 40px;
height: 40px;
/* color: white; */
visibility: hidden;
opacity: 0;
transition: 0.6s;
font-size: 17px;

    }

    .workinfo a i{
   line-height: 40px;
}
 
.workitem:hover .workoverlay{
    visibility: visible;
    opacity: 1;
}

.workinfo{
    position: absolute;
    z-index: 3;
    padding-left:110px ;
}

 
.workitem:hover p{
visibility: visible;
opacity: 1;
}
.workitem:hover span{
    visibility: visible;
    opacity: 1;
    }
    
    .workitem:hover a{
        visibility: visible;
        opacity: 1;
        }
        
        .offer{
width: 100%;
text-align: center;
margin-top: 90px;

        }
        .offertitle{
font-size: 35px;

        }
        .offerhr{
            width: 50px;
    margin: auto;
    height: 3px;
    background-color: rgb(232, 205, 169);
 
margin-bottom: 50px;
        }
        
        
        
        .offer1{
width: 80%;
margin: auto;

        }


        .offer2{
            width: 80%;
            margin: 262px auto;
         
        
        }


        .offeritem{
            float: left;
            width: 30%;
            border: 1px #888 solid;
        
            text-align: center;
            height: 190px;
        position: relative;
            transition: 0.5s;
            z-index: 2;
        }
        .of{
            margin: 0 5%;
        }
        .off{

            margin: 0  5%;
        }

        .offeritem h2{
            transition: 0.7s;
            
    position: absolute;
    top: 40px;
   left: 65px;
        }
        .offeritem:hover h2 {
            color: white;
        }
        .offeritem::after {
            content:"";
            position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        background-color: #333;
        transition: 0.5s;
        
        }
        .offeritem:hover::after{
        width: 100%;
        height: 100%;
        z-index: -1;
        }
        .offeritem i{
            color: #6195ff ;
            display: inline;
            font-size: 30px;
            position: absolute;
            left: 20px;
            top: 30px;
        }
        .offeritem span{
            color:#888 ;
            padding-top: 90px;
            font-size: 18px;
            display: block;
        }
        .choose{
width: 100%;
background-color:rgb(248, 241, 234);
margin-top: 500px;
overflow: auto;


        }
        .chooseitem img{

            width: 480px;
            height: 400px;
    
        }

        .chooseitem ul{
            list-style-type: circle;
  
        }

        .whyus{
float: left;
width: 40%;
margin: 10% 5%;
        }


        .whyus h2{
            font-size: 35px;
            text-transform: capitalize;
        }
.whyus  hr{
    width: 50px;
   
    height: 3px;
    background-color: rgb(232, 205, 169);

margin-bottom: 50px;
}
.whyus p{
    padding-right: 20px;
    color: #999;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 20px;
}

        .chooseitem{
           
          width: 40%;
       margin: 10% 5%;
float: left;

text-align: center;
        }

.active{
    background-color: #6195ff;
}

        .chooseitem ul li{
            width: 10px;
            height: 10px;
            display: inline-block;
            
            margin: 10px 5px;
            border-radius: 50%;
        }
      .li1{
background-color: #888;
      }
      .li1:hover{
        background-color: #6195ff;
      }
.whyus span{
color: #999;
padding-left:10px ;
}

.whyus i{
    color: #6195ff;
    font-size: 19px;
}

.award{
    width: 100%;
    height: 300px;
    background: fixed url(../images/award.jpg);
    background-size: cover;
    overflow:auto;
}
.overlayaward{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
}
.awarditem{
    float: left;
    width: 15%;
margin: 6% 5%;
text-align: center;
}
.awarditem h2{
    color: white;
    font-size: 30px;
}
.awarditem p{
    color: white;
}
.awarditem i{
    color: #6195ff;
    font-size: 30px;
  
}


.price{
    width: 100%;
    background-color:rgb(248, 241, 234);
    overflow: auto;
    height: 90vh;
    text-align: center;

}

.priceitem{
    float: left;
    border: 1px solid #a8a8a8;
    text-align: center;
    width: 30%;
    height: 350.2px;
  position: relative;
}

.price h2{
    font-size: 35px;
    padding-top: 120px;
    
}
.price hr{
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: rgb(232, 205, 169);
 margin-bottom: 30px;
}
.pp1{
    margin: 0 5%;
}
.priceconatin{
  width: 80%;
  margin:auto;
 

}
.priceinfo{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border: solid 1px rgb(255, 208, 121);
    border-radius: 50%;
   
   
}
.PRICEitem span{
    display: block;
    padding-top:20px;
    transition: 0.7s;
}
.priceinfo h3{
    padding-top: 20px;
    font-size: 33px;
    transition: 0.7s;

}
.priceinfo h4{
    font-size: 20px;
    transition: 0.7s;
}
.priceitem p{
    padding: 5px  0;
}
.priceitem button{
    border: 2px solid  rgb(255, 208, 121) ;
margin-top: 30px;
width: 120px;
height: 30px;


}
.priceitem::after{
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    background-color: rgba(0, 0,0, 0.4);
    transition: 0.5s;
}
.priceitem:hover::after{
    width: 100%;
    height: 100%;
}
.priceitem:hover span{
    color:  rgb(250, 179, 57)  ;
}

.priceitem:hover h3{
    color:  rgb(250, 179, 57) ;
}

.priceitem:hover h4{
    color:  rgb(250, 179, 57) ;
}




.co{
    width: 100%;
    height: 300px;
    background: fixed url(../images/co.jpg);
    background-size: cover;
    overflow:auto;

}
.cooverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
}

.co1{
    width: 30%;
    float: left;
    margin-left: 20%;
 position: relative;
}
.co2{
    width: 30%;
    float: left;
    margin-right: 20%;
   position: relative;
}
.co1img{

    width: 110px;
    height: 120px;
    border-radius:50% ;
    position: absolute;
    top: 95px;
    left: 65px;
}
.co1img img{
    border: #333 solid 1px;
    border-radius:50% ;


}
.co1 h2{
    color: white;
    font-size:17px ;
    display: inline-block;
   padding-top: 110px;
   padding-left: 165px;
   text-transform: capitalize;
}

.co2 h2{
    color: white;
    font-size:17px ;
    display: inline-block;
    padding-top: 110px;
    padding-left: 165px;
    text-transform: capitalize;
}
.co p{
    color: rgb(252, 211, 135);
    font-size:17px ;
    display: inline-block;
    padding-top: 5px;
    padding-left: 180px;
    
}
.CO span{
    color: rgb(245, 235, 218);
    font-size:17px ;
    display: inline-block;
    padding-top: 5px;
    padding-left: 180px; 
}

.team{
    background-color:rgb(248, 241, 234);
    text-align: center;
}
.team h2{
    padding-top: 40px;
    font-size: 35px;
}
.team hr{
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: rgb(232, 205, 169);
 margin-bottom: 30px;
}
.teamconatiner{
width: 80%;
margin: auto;
overflow: auto; 
padding: 100px  0;
}
.teamitem{
    width: 30%;
    float: left;
background-color: rgb(234, 223, 207);
    width: 30%;
    padding: 14px  18px;
    text-align: center;
    position: relative;
} 
.wz{
    margin: 0 5%;
}
.teamimg{
    width: 90%;
    margin: auto;
    position: relative;
} 
.teamimg img{
    width: 100%;
}
.teamoverlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    transition: 0.5s;
}
 
.teamoverlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(53, 171, 240);
    color: #fff;
    font-size: 23px ;
    margin-left: auto ;
}
.teamoverlay a i{
    line-height: 40px ;
}
.teaminfo h3{
    text-transform: capitalize;
    color: white;
    transition: 0.5;
}
.team-info-sp1{
    color: #6c6b6b;
    text-transform: capitalize;
    transition: 0.6s;
} 
.teamitem:hover .teamoverlay{
    visibility: visible;
}
.teamitem::after{
position: absolute;
content:"";
width: 100%;
height:0;
top:0;
left:0;
background-color: rgba(0, 0,0, 0.3);
transition: 0.5s;

}

.teamitem:hover::after{
width: 100%;
height: 100%;

}
 .teamitem:hover .team-info-sp1{
    color: black;
 } 
 .teamitem:hover .teaminfo h3{
    color:rgb(252, 181, 51) ;
 }

.news{
    background-color:rgb(248, 241, 234);
    text-align: center;

}

 .newsconatiner{
    width: 80%;
    margin: auto;
    overflow: auto;
 }

 .news h2{
    font-size: 35px;

 }

.news hr{
    width: 50px;
    margin: auto;
    height: 3px;
    background-color: rgb(232, 205, 169);
 margin-bottom: 30px; 
}
.newsitem{
    width: 30%;
    height: 520px;
float: left;
background-color:rgb(234, 223, 207) ;
position: relative;
}
.nx{
    margin: 0 5%;
}
.newsitem .img{
    margin-right:110px ;

}

.newsitem ul{
    list-style: none;
    float: left;
}
.newsitem ul li{
    display: inline-block;
    margin: 40px 15px;
}
.newsitem i{
    color: #6195ff;
    font-size: 12px;

}
.newsitem span{
    font-size: 12px;
    color:#6c6b6b;
    padding-left: 5px;
    
}
.newsitem h3{
  
    font-size: 15px;
    display: inline-block;

}
.newsitem p{
    padding-top:20px ;
font-size: 15px;
word-spacing: 6px;

}
.read1{
  
    color: #6195ff;
    margin-top: 45px;
    text-transform: capitalize;
    padding-right:275px ;

}
.read2{
    color: #6195ff;
  margin-top: 30px;
    text-transform: capitalize;
    padding-right:275px ;



}
.read3{
    color: #6195ff;
    margin-top: 48px;
    text-transform: capitalize;
    padding-right:275px ;


}
.newsitem a{
text-decoration: none;

}
.newsitem::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left:0;
    background-color: rgba(0, 0,0, 0.25);
    transition: 0.7s;

}
.newsitem:hover::after{
    width: 100%;
    height: 100%;
}
.newsitem::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right:0;
    background-color: rgba(0, 0,0, 0.25);
    transition: 0.7s;
}
.newsitem:hover::before{
    width: 100%;
    height: 100%;
}
.imgoverlay{
    width: 100%;
height: 100%;
background-color: rgba(0, 0,0, 0.5);
}
.bottom{
    width: 100%;
    height: 300px;
position: relative;
    background-color:rgb(129, 118, 102) ;

}
.bottomimg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.links-list{
    list-style: none;
}
 .links-list li{
    display: inline-block;
    background-color: #6195ff;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
 }

 .links-list li a {
    /* display: block; */
    width: 100%;
    height: 100%;
  
    color: black;
    line-height: 50px;
    padding-top: 15px;
    padding-left: 4.5px;
    font-size: 25px;
    margin: 0 8px;
 }
 .links-list li:after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: .1s;
    background-color: #0954ec;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
 }
 .links-list li:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    border-radius: 50%;
 }
 .social{
  position: absolute;
  top: 68%;
  left: 39.5%;
 }
 .bottom p{
    color: white;
    font-size: 14px;
    padding-top: 260px;
    padding-left:575px;
 }